.App {
  text-align: center;
}

.search-bar__container {
  width: 60%;
  padding-top: 150px;
  margin: auto;
}

.search-input {
  width: 350px;
  height: 30px;
  font-size: 22px;
  margin-right: 20px;
}

.search-button {
  height: 35px;
  vertical-align: bottom;
}

.search-button:hover {
  cursor: pointer;
}

.chart__container {
  width: 60%;
  margin: auto;
  padding-top: 50px;
}